* {
box-sizing: border-box;
margin: 0;
}
.first-container {
box-shadow: 0px 0.5px 3px grey;
}
.logo-container {
width: 150px;
height: 80px;
margin: 0;
display: inline-block;
}
.logo {
height: inherit;
width: inherit;
display: flex;
justify-content: center;
align-items: center;
}
/*.logo {
font-family: "ZCOOL KuaiLe", cursive;
background-image: linear-gradient(to right, red, white);
border-left: 1px solid red;
color: #ffffff;
font-size: 35px;
width: 250px;
text-shadow: 2px 2px 3px #bebebe;
height: inherit;
width: 100px;
}*/
.logo img{
height: 73px;
width: 100px;
}
span {
color: #fafafa;
}
.nav-container {
float: right;
width: 28%;
height: 80px;
}
.nav-flex-container {
display: flex;
justify-content: center;
align-items: center;
height: 80px;
}
.nav-flex-container a {
text-decoration: none;
color: inherit;
display: inline-block;
border: 1px solid #d3d3d3;
border-radius: 0px;
padding: 6px 12px;
margin-right: 15px;
font-family: Century Gothic, sans-serif;
letter-spacing: 0.8px;
transition: transform 0.5s, border 1s;
}
.nav-flex-container a:hover {
transform: scale(1.2);
border-color:black;
}
.nav-flex-container a:last-child {
margin: 0px;
}